/* 01 - fonts - start
==================================================================================================== */
@font-face {
    font-family: 'Sofia Pro Extra Light';
    src: url('../fonts/sofia_pro/SofiaProExtraLight.woff2') format('woff2'),
    url('../fonts/sofia_pro/SofiaProExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Light';
    src: url('../fonts/sofia_pro/SofiaProLight.woff2') format('woff2'),
    url('../fonts/sofia_pro/SofiaProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Medium';
    src: url('../fonts/sofia_pro/SofiaProMedium.woff2') format('woff2'),
    url('../fonts/sofia_pro/SofiaProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro SemiBold';
    src: url('../fonts/sofia_pro/SofiaProSemiBold.woff2') format('woff2'),
    url('../fonts/sofia_pro/SofiaProSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Bold';
    src: url('../fonts/sofia_pro/SofiaProBold.woff2') format('woff2'),
    url('../fonts/sofia_pro/SofiaProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.svg#Sofia Pro") format("svg"); /* iOS 4.1- */
}
/* 01 - fonts - end
==================================================================================================== */