/* 21 - job pages - start
==================================================================================================== */

/* job section setting - start
================================================== */
.job_section {

	&.bg_gray {
		background-color: #fbfbfd;
	}

	.jobs_grid {
		margin: -15px;
		margin-top: 15px;
		.element-item {
			width: 100%;
			padding: 15px;
			display: block;
		}
	}

	.button-group {
		>ul {
			>li {
				height: 45px;
				margin-right: 10px;
				text-align: center;
				&:last-child {
					margin-right: 0px !important;
				}
				>button {
					width: 100%;
					height: 100%;
					display: block;
					color: #6a7c92;
					font-size: 16px;
					font-weight: 500;
					padding: 0px 30px;
					line-height: 45px;
					border-radius: 45px;
					&:hover,
					&.active {
						color: $default-blue;
						background-color: rgba(65, 84, 241, 0.102);
					}
				}
			}
		}
	}

}
/* job section setting - start
================================================== */


/* job item - start
================================================== */
.job_item {
	padding: 25px 20px;
	position: relative;
	background-color: #ffffff;
	box-shadow: 0px 3px 4px 0px rgba(38, 59, 94, 0.1);
	transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	&:hover {
		transform: translateY(-8px);
		box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
	}
	.item_icon {
		float: left;
		width: 120px;
		height: 80px;
		display: flex;
		margin-right: 40px;
		margin-left: -20px;
		align-items: center;
		border-right: 1px solid #eeebf7;
		>img {
			margin: auto;
			height: 50px;
		}
	}
	.item_content {
		display: table;
		padding-top: 12px;
	}
	.item_title {
		>a {
			font-size: 20px;
			color: $default-darkblue;
			font-family: $heading-font;
		}
	}
	&:hover {
		.item_title {
			>a {
				color: $default-blue;
			}
		}
	}

	p {
		font-size: 14px;
	}

	.btn {
		top: 50%;
		right: 20px;
		height: 50px;
		min-width: 140px;
		line-height: 46px;
		position: absolute;
		color: $default-darkblue;
		border: 1px solid #e9e9e9;
		transform: translateY(-50%);
		&:hover {
			color: #ffffff;
		}
	}
	&:hover {
		.btn {
			color: #ffffff;
			&:before {
				left: 0px;
				width: 100%;
				right: auto;
			}
		}
	}
}
/* job item - end
================================================== */


/* apply section - start
================================================== */
.apply_section {
	&.bg_gray {
		background-color: #fbfbfd;
	}

	.apply_form {
		.form_item {
			textarea {
				min-height: 180px;
			}
		}

		.upload_field {
			padding: 30px;
			border-radius: 10px;
			background-color: #ffffff;
			border: 2px dotted #dfdbee;
			label {
				width: 100%;
				color: #6a7c92;
				display: block;
				margin-bottom: 40px;
			}
		}

		.terms-conditions {
			max-width: 540px;
			>a {
				color: $default-blue;
			}
		}
	}
}
/* apply section - end
================================================== */

/* 21 - job pages - end
==================================================================================================== */