/* 10 - promotion section - start
==================================================================================================== */
.promotion_section {
	overflow: hidden;
	&.bg_gradient_blue {
		background-image: linear-gradient( -45deg, rgb(94,44,237) 0%, rgb(164,133,253) 100%);
	}

	.dot_image_1 {
		top: 125px;
		right: 15px;
		max-width: 100px;
	}

	.shape_1 {
		top: 0px;
		left: 15px;
		max-width: 290px;
	}
	.shape_2 {
		top: 0px;
		left: 157px;
		max-width: 250px;
	}

	.item_image_1 {
		z-index: 1;
		width: 460px;
		margin: 0px auto;
		position: relative;
		margin-bottom: -230px;
		.image_1,
		.image_2 {
			max-width: 50%;
			padding: 0px 10px;
			display: inline-block;
		}
		.image_1 {
			transform: translateY(50px);
		}
	}

	.btns_group {
		>ul {
			>li {
				margin-right: 30px;
				&:last-child {
					margin-right: 0px !important;
				}
				.btn {
					img {
						max-width: 15px;
					}
					&.bg-white {
						color: $default-black;
					}
				}
			}
		}
	}
}
/* 10 - promotion section - end
==================================================================================================== */