/* 08 - testimonial section - start
==================================================================================================== */
.testimonial_section {

	&.bg_gray {
		background-color: #f5f8ff;
	}

	.shape_1 {
		top: 120px;
		left: -88px;
		max-width: 158px;
	}
	.shape_2 {
		top: 0px;
		right: 0px;
		max-width: 534px;
	}

	.shape_3 {
		top: -70px;
		right: -258px;
		max-width: 769px;
	}

	.shap_bottom {
		path {
			fill: #ffffff;
		}
	}

	.testimonial_carousel_1 {
		z-index: 2;
		width: 600px;
		display: flex;
		min-height: 550px;
		position: relative;
		align-items: center;
		padding-right: 45px;
		// padding-top: 140px;
		// padding-bottom: 100px;
		&:after,
		&:before {
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background-size: auto;
			background-repeat: no-repeat;
		}
		&:before {
			z-index: -1;
			background-position: left bottom;
			background-image: url(../images/shapes/shape_10.png);
		}
		&:after {
			z-index: -2;
			background-position: right top;
			background-image: url(../images/shapes/shape_11.png);
		}

		.item {
			z-index: 3;
			margin: auto;
			max-width: 450px;
			position: relative;
			padding-top: 140px;
			padding-bottom: 100px;
			&:before {
				top: 104px;
				left: -28px;
				content: '';
				width: 159px;
				height: 124px;
				position: absolute;
				background-size: auto;
				background-repeat: no-repeat;
				background-position: left top;
				background-image: url(../images/icons/quote_3.png);
			}
			p {
				font-size: 16px;
				margin-bottom: 40px;
			}
			.hero_name {
				font-size: 24px;
				font-weight: 600;
			}
			.hero_title {
				display: block;
				font-size: 14px;
			}

			.thumbnail_wrap {
				padding: 6px;
				display: table;
				margin: 0px auto 30px;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url(../images/shapes/shape_12.png);
				.thumbnail_image {
					z-index: 3;
					width: 80px;
					height: 80px;
					display: table;
					margin: 0px auto;
					overflow: hidden;
					border-radius: 100%;
				}
			}

			&.text-white {
				.hero_name {
					color: #ffffff;
				}
			}
		}

		.owl-nav {
			left: 111%;
			bottom: 70px;
			display: flex;
			position: absolute;
		}

		.owl-dots {
			display: none;
			margin-top: 50px;
		}

		&.nav_false {
			.owl-nav {
				display: none;
			}
		}
		&.dots_true {
			.owl-dots {
				display: block;
			}
		}
	}

	.testimonial_carousel_1 {
		&.secondary_style {
			width: 100%;
			padding: 0px;
			display: block;
			min-height: auto;
			&:after,
			&:before {
				display: none;
			}
			.item {
				padding: 0px;
				max-width: 100%;
				&:before {
					display: none;
				}
				.thumbnail_wrap {
					background-image: url(../images/shapes/shape_30.png);
				}
				.hero_name {
					margin-bottom: 5px;
				}
			}
		}
	}

	.bg_area {
		height: 415px;
		&.bg_gradient_blue {
			background-image: linear-gradient( 30deg, #301cab 0%, #5774fa 100%);
		}
	}

	.bg_gradient_blue {
		.owl-carousel {
			.owl-nav {
				.owl-next,
				.owl-prev {
					&:before {
						color: #ffffff;
						border: 1px solid #ffffff;
					}
					&:hover {
						&:before {
							background: #ffffff;
							color: $default-blue;
							border-color: #ffffff;
						}
					}
				}
			}
		}
	}

	.testimonial_carousel_2 {
		width: auto;
		margin: -30px -15px;
		.item {
			padding: 30px 15px;
		}
		.testimonial_item {
			z-index: 1;
			padding: 40px;
			position: relative;
			border-radius: 6px;
			padding-bottom: 60px;
			background-size: auto;
			background-color: #ffffff;
			background-position: right -15px bottom -22px;
			box-shadow: 0px 6px 20px 0px rgba(0, 33, 121, 0.08);
			.admin_wrap {
				margin-bottom: 25px;
			}
			.rating_star {
				top: 47px;
				right: 40px;
				position: absolute;
			}
			.thumbnail_image {
				float: left;
				width: 60px;
				height: 60px;
				overflow: hidden;
				margin-right: 20px;
				border-radius: 100%;
			}
			.admin_content {
				display: table;
				padding-top: 7px;
				.admin_name {
					font-size: 20px;
					margin-bottom: 2px;
				}
				.admin_title {
					font-size: 14px;
					display: inline-block;
				}
			}
		}
	}
}
/* 08 - testimonial section - end
==================================================================================================== */